html
{
    overflow: hidden;
}

body
{
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#757f60, #4c5f71);
}

html, body
{
    height: 100%;
}

.row-container {
    display: table;
    margin: auto auto;
}

.content-logo-img {
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    display: block;
    width: 90%;
}

.vjs-default-skin {
    margin: 0 auto;
    overflow: hidden;
}

.video-container {
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    border-width: 12px;
    overflow: hidden;
}

video {
    outline: none;
}

.link-container {
    padding-top: 3%;
    text-align: right;
    
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    font-size: 500%;
}